$color-fg-primary: #e8e8e8;
$color-fg-secondary: #d4d4d4;
$color-bg-tertiary: #333;
$color-bg-secondary: #2f2f2f;
$color-bg-primary: #1f1f1f;

$border-primary: #555;
$border-secondary: #999;

$input-border-radius: 5px;