.vscomp-option,
.vscomp-dropbox,
.vscomp-search-wrapper,
.vscomp-options-container,
.vscomp-options-list,
.vscomp-options {
    background: var(--meta-dropdown-bg, var(--bbcode-input-body-bg, #222));
    background-image: none;
    color: var(--meta-dropdown-fg, var(--body-fg, #ddd));
}

.vscomp-option:hover,
.vscomp-option.focused,
.vscomp-option.selected {
    background: var(--meta-dropdown-hover-bg, rgba(255, 255, 255, 0.03));
    color: var(--meta-dropdown-hover-fg, var(--body-fg, #fff));
}

.vscomp-toggle-button {
    border: var(--input-text-border, 1px solid #555);
    background: inherit;
    border-radius: var(--input-text-border-radius, 5px);
    color: var(--input-text-fg, #bbb);
}

.vscomp-dropbox-container.pop-comp-wrapper {
    z-index: 9999;
}